# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# Log dosyaları
*.log

